<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=400">
    <title>MovieDB</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="58x58" href="/img/favicon58.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon180.png" />
    <link REL="SHORTCUT ICON" href="/img/favicon.png">
</head>
<body>
<br>
IMDB Record for <b>{{title}}</b><br>
<br>
<table>
    {{movie_table}}
</table>
<form action="{{app_url}}/save">
    <table>
        <tr><td width="100">Watched:</td>{{watched_radio}}</tr>
        <tr><td width="100">Available:</td>{{available_radio}}</tr>
    </table>
    <button type="submit" name="id" value="{{id}}" style="width: 200px;">Save</button>
</form>
<br>
<form action="{{app_url}}/delete">
    <button type="submit" name="id" value="{{id}}" style="width: 200px;">Delete</button>
</form>
</body>
</html>
