<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=700">
    <meta charset="UTF-8">
    <title>MovieDB</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="58x58" href="/img/favicon58.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon180.png" />
    <link REL="SHORTCUT ICON" href="/img/favicon.png">
</head>
<body>
<br>

<script type="text/javascript">
function resetInput(id) {
   document.getElementById(id).value="";
}

function resetRadio(id) {
   var ele = document.getElementsByName(id);
   for(var i=0;i<ele.length;i++)
      ele[i].checked = false;
      }
</script>

<form target="/">
    <table>
        <tr>
            <td width="400">
                <table>
                        <tr><td>Search by name:</td><td colspan="3"><input type="text" name="name" value="{{name}}"></td></tr>
                        <tr><td>Search by genre:</td>
                            <td colspan="3">
                                <select name="genre">
                                    <option value="">None</option>
                                    {{genre_menu}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Watched:</td>
                            {{watched_radio}}
                            <td><input type="button" id="watch_reset" onclick="resetRadio('watched')" value="reset"></td>
                        </tr>
                        <tr>
                            <td>Available:</td>
                            {{available_radio}}
                            <td><input type="button" id="avail_reset" onclick="resetRadio('available')" value="reset"></td>
                        </tr>
                        <tr>
                            <td><input type="submit"></td>
                            <td colspan="3"><a href="{{app_url}}/">Show All Movies</a></td>
                        </tr>
                </form>
                </table>

            </td>
            <td width="300" align="right">
                <a href="{{app_url}}/search">Add a new movie</a></td>
            </td>
        </tr>
    </table>
<br>
<table>
    <tr>
        {{pages}}
    </tr>
</table>
<br>
<table>
    {{movie_table}}
</table>
</body>
</html>