<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=400">
    <title>MovieDB</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="58x58" href="/img/favicon58.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon180.png" />
    <link REL="SHORTCUT ICON" href="/img/favicon.png">
</head>
<body style="max-width: 400px">
<br><br>
    <div style="margin-left: 80px;">
        <b>IMDB Movie Search</b><br>
        <br>
        <form action="{{app_url}}/results">
            Search: <input type="text" name="search_text"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>